.cutePlanet .tile,
.cutePlanet .block,
.cutePlanet .world,
.cutePlanet .shadow,
.cutePlanet .viewport {
    position: absolute;
}

.cutePlanet .viewport {
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cutePlanet .shadow {
	top: 0;
	left: 0;
}